{% set id = id ?? 'upload-input' %}

{%- set inputClass = [
    'd-none',
]|join(' ') %}

{%- set labelClass = [

]|join(' ') %}

<div>
    <paw-upload-multiple
        {%- if csrf is defined %} csrf="{{ csrf }}"{% endif %}
        {%- if name is defined %} name="{{ name }}"{% endif %}
        {%- if value is defined %} value="{{ value is iterable ? value|json_encode : value }}"{% endif %}
        {%- if url is defined %} url="{{ url }}"{% endif %}
        ></paw-upload-multiple>
</div>